/* ==UserStyle==
@name           Dark-Aula
@namespace      https://github.com/indierodo/dark-aula
@version       3.0.0
@description    Mejoras de estilo a plataforma moodle de la UAA basado en dark-whatsapp de vednoc
@author         Rodo
@preprocessor stylus
@license      MIT

// MIT license https://github.com/vednoc/dark-whatsapp/blob/master/license

==/UserStyle== */

@-moz-document domain("aulavirtual.uaa.mx"), domain("aulavirtualbach.uaa.mx") {
   
    :root {
        --bg-color: #2a2a2e;
        --txt-color: #d7d1d0;
        --block-color: #38383d;
        --active-block-color:#4a4a4f
    }
    
    /* make things dissapear! */
    .crisp-client {
        display: none;
    }
    
    .clearfix {
        padding-top: 8px;
    }
    
    /* set the body background */
    body {
        background-color: var(--bg-color);
        color: var(--txt-color);
    }
    
    span {
        color:  var(--txt-color)!important;
    }
    
    /* html elements */
    a,
    a:hover {
        color: #fff!important;
    }
    
    /* navbar */
    .navbar-inner .container-fluid,
    .navbar-inverse .navbar-inner {
        background-image: none;
        background-color: transparent;
        filter: none;
        padding: 8px;
    }
    
    .navbar-inner,
    .navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .navbar-inner .container-fluid {
        height: auto;
    }
    
    img.small-logo {
        display: none;
    }
    
    #page-header::before {
        background-image: url('https://www.uaa.mx/portal/wp-content/themes/UAAV1/images/uaa-footer.png');
        background-size: 81px 40px;
        position: absolute;
        display: inline-block;
        width: 81px; 
        height: 40px;
        content:"";
        top: 10px;
        left: 26px;
    }
    
    #page-header::after {
        background-image: url('https://aulavirtual.uaa.mx/theme/image.php/aulavirtual/theme/1578097227/logoAV');
        background-size: 137px 52px;
        position: absolute;
        display: inline-block;
        width: 137px; 
        height: 38px;
        content:"";
        top: 14px;
        left: 120px;
        visibility: visible;
    }
    
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: absolute;
        z-index: 0;
    }
    
    .jsenabled .navbar-inverse .usermenu .moodle-actionmenu.show {
        background-color: transparent;
    }
    
    .moodle-actionmenu[data-enhanced].show .menu{
        background-color: var(--block-color);
    }
    
    #page-navbar.clearfix {
        padding-top: 0px;
    }
    
    .page-context-header .page-header-headings {
        margin-top: -60px;
        margin-bottom: 0px;
    }
    
    /* building blocks */
    #region-main,
    .breadcrumb,
    .block,
    .forumpost,
    .courses .coursebox.even,
    .course-content .current {
        background-color: var(--block-color);
    }
    
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus,
    .nav > li > a:hover, .nav > li > a:focus {
        background-color: var(--active-block-color);
    }
    
    .btn-link,
    .btn-link:hover,
    .btn-link:focus {
        color: #fff;
    }
    
    .btn {
        text-shadow: none;
    }
    
    /* customizations */
    .userpicture {
        border-radius: 50%;
    }
}